<header>
    <div class="logo">
        <a href="/"><img src="/images/La_Halle.webp" alt="Logo"></a>
    </div>
   
    <nav class="nav-links">
            <ul class="nav-links_left">
                <li class="link_first">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/products">Products</a>
                </li>
            </ul>
            <div class="header_divider">
                <img src="/images/divider.svg" alt="divider">
            </div>
            <ul class="nav-links_right">
                <li>
                    <a href="/products/coffee">Coffee</a>
                </li>
                <li class="link_last">
                    <a href="/products/pastries">Pastries</a>
                </li>
            </ul>
    </nav>
</header>