<div class="main-content_wrapper">
    <div class="products_header">
        <a class="back-to-home"href="/"> <i class="fas fa-arrow-left"></i>Back to home</a>
        <a class="back-to-products"href="/products">Back to Products<i class="fas fa-arrow-right"></i></a>
    </div>
<form method="post" action="" class="product-form">
    <div class="form-group">
        <label for="product-form_name">Name</label>
        <input name="product-form_name" class="form-control" type="text" placeholder="Name of Product" required="true" >
    </div>
    <div class="form-group">
        <label for="product-form_description">Description</label>
        <textarea name="product-form_description" class="form-control" type="text" placeholder="Description of Product" required="true" rows="5" cols="20"></textarea>
    </div>
    <div class="form-group category-group">
        <label for="product-form_category">Category</label>
        
        <div class="category-group_category">
            <input type="radio" id="coffee" name="category" value="coffee" checked>
            <label for="coffee">Coffee</label>
        </div>
        <div class="category-group_category">
            <input type="radio" id="pastry" name="category" value="pastry">
            <label for="pastry">Pastry</label>
        </div>
    </div>
    <div class="form-group">
        <label for="product-form_price">Price</label>
        <input name="product-form_price" class="form-control" type="text" placeholder="Price of Product" required="true">
    </div>
    <div class="form-group">
        <label for="product-form_quantity">Quantity</label>
        <input name="product-form_quantity" class="form-control" type="text" placeholder="Quanity remaining" required="true">
    </div>
    <div class="form-group">
        <label for="product-form_thumbnail">Thumbnail</label>
        <input name="product-form_thumbail" class="form-control" type="text" placeholder="Image URL" required="true">
    </div>
    <div class="form-group submit-button-group">
        <button type="submit" class="product-form_submit">Add Product</button>
    </div>
</form>

</div>